<p>新感覚育成形喫煙管理アプリ</p>
<h1>Nicotti</h1>
<div>
  <p>このアプリは、自身に見立てたキャラクターがあなたの代わりとなって、あなたが喫煙するたびに病気に近づいていくアプリです</p>
</div>

<div>
  <p>このアプリの使い方</p>
  <p>1日の目標となる喫煙本数を決めます</p>
  <p>その目標本数を基準として、目標を超過した分だけキャラクターが死に近づいていきます</p>
  <p>ある一定数、超過した時点でキャラクターが死に、２回目の人生が始まります</p>
</div>
  
