<% set_meta_tags title: t('.title')%>
<div class='container'>
  <div class='row'>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class='login-layout mx-auto'>
        <div class='text-center mt-2 mb-5'>
          <h2>バディ一覧</h2>
        </div>
        <% if @buddies.present? %>
          <%= render @buddies %>
        <% else %>
          <div class='text-center'>バディは登録されていません。</div>
        <% end %>
        <div class="text-center mt-5">
          <a class="btn btn-outline-primary btn-sm" href="https://line.me/R/nv/recommendOA/@333ccneh">新規バディ連携</a>
          <a class="btn btn-outline-primary btn-sm" href="https://line.me/R/share?text=<%=current_user.invite_code %>">バディコード送信</a>
          <div class="small">※LINEアプリが開きます(スマホのみ)</div>
        </div>
      </div>
    </div>
  </div>
</div>