<div class='nicotti-status'>
  <div class='status-text' id='js-status'>
    ステータス： <%= current_user.state_i18n %>
  </div>
  <div class='status-text' id='js-life'>人生回数　： <%= current_user.life%> 回
  </div>
</div>