<div class='nicotti-status'>
  <div class='status-text' id='js-status'>ステータス：<%= current_user.state_i18n %></div>
</div>
<div class='nicotti-life me-1'>
  <div class='status-text' id='js-life'>人生１回目</div>
</div>