<section id="modalSmokingLog" class="modalArea"  >
<div id="modalBg" class="modalBg"></div>
  <div class="modalWrapper2">
    <div class="modalContents smoking-log2">
      <h4 style="color: #FFFFFF; ">本日の喫煙</h4>
        <%= render partial: 'smokings/smoking', collection: smokings %>
    </div>
    <div id="closeModal" class="closeModal">
      ×
    </div>
  </div>
</section>