<section>
<!-- #セクション１（「本日の残り本数」「ステータス」）-->
  <div class='pt-4'>
    <section>
      <div class='container'>
        <div class='row'>
          <p>今日はあと<span class='bg-warning'><%= current_user.remaining_number %></span>本</p>
        </div>
      </div>
    </section>
  </div>
  <!--# セクション２（キャラクター画面）-->
  <div>
  <div class='py-1'>
  <section>
    <div class='container'>
      <div class='row'>
        <div class='class="col-lg-11 col-md-11 col-sm-12 mx-auto"'>
          <div class='main-page mx-auto'>
            <div>
            <p>画像</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
  <!--# セクション３（キャラクター吹き出し画面）-->
  <div>
  <div class='py-1'>
  <section>
    <div class='container'>
      <div class='row'>
        <div class='class="col-lg-11 col-md-11 col-sm-12 mx-auto"'>
          <div class='words mx-auto'>
            <div>
            <p>セリフ</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
  <!--# セクション４　(「一服ボタン」「今日の喫煙本数」)-->
  <div>
  <div class='pt-3'>
    <section>
      <div class='container'>
        <div class='row justify-content:flex-center'>
          <h6 class='text-center mb-3'>今日の喫煙<span class='bg-warning'><%= current_user.smokings.count %></span>回</h6>
          <%= render 'smoking'%>
          <p class='text-center'>取り消す</p>
        </div>
      </div>
    </section>
  </div>
</section>