<nav class='navbar fixed-bottom justify-content-center felx-column bg-main'>
  <div class='container-fluid'>
      <%= link_to '利用規約', '#', class: 'nav-item'%>
      <%= link_to 'プライバシーポリシー', '#', class: 'nav-item'%>
      <%= link_to 'お問合せ', '#', class: 'nav-item'%>
  </div>
</nav>