<footer class='page-footer d-flex justify-content-center align-items-center'>
  <div class='text-center'>
      <%= link_to '利用規約', '/terms', class: 'footer-text mx-2'%>
      <%= link_to 'プライバシーポリシー', '/privacy', class: 'footer-text mx-2'%>
      <%= link_to 'お問い合わせ', new_inquiry_path, class: 'footer-text mx-2'%>
      <div class="text-mute ms-4">Copyright © NICOTTI</div>
  </div>
</footer>
