<section id="modalCancer" class="modalArea" style="display:none;">
  <div id="modalBg" class="modalBg"></div>
  <div class="modalWrapper">
      <div class="modalContents">
        <h5 class='text-center'>
          <strong class="mark">深刻な病気になりました</strong>
        </h5>
        <div class='text-center'>
          <%= image_tag 'cancer.gif', :size =>"160x160" %>
        </div>
        <div class="modal-status">
            ステータス：　ハゲ　→ <strong class="accent">がん</strong>
        </div>
        <div class="modal-status my-1">
          ニコッチの死まで：<strong class="accent">超過２本</strong>
        </div>
        <p style="font-size: 12px;">↑※1日の目標を超過した本数</p>
        <div>ニコッチは肺がんを患いました。</div>
        <div>あと、<strong class="accent">2本</strong>目標を超過して喫煙するとニコッチは死んでしまいます。</div>
        <p><strong>今一度喫煙習慣を見直しましょう！！</strong></p>
        <div class="modal-dis mt-2 ">たばこの煙には60種類以上の発がん物質が含まれています。煙の通り道（くち・のど・肺）はもちろん、唾液などに溶けてとおる消化管（食道・胃）、血液中に移行して排出される経路（血液・肝臓・腎臓などの尿路）でもリスクが高くなることに注意が必要です。</div>
      </div>
      <div id="closeModal" class="text-center my-3">
            <button class="modal-button">とじる</button>
        </div>
    <div id="closeModal" class="closeModal">
      ×
    </div>
  </div>
</section>