<section id="modalDead" class="modalArea" style="display:none;">
  <div id="modalBg" class="modalBg"></div>
  <div class="modalWrapper">
      <div class="modalContents">
        <h5 class='text-center'>ニコッチが亡くなりました</h5>
        <div class='text-center'>
          <%= image_tag 'dead.png', :size =>"180x220" %>
        </div>
        <p>無理な禁煙はストレスが溜まり身体に害です。</p>
        <p>しかしタバコの吸い過ぎも身体に害です。</p>
        <p>ニコッチはこれから蘇りますがあなたの身体は死んでも蘇りません。</p>
        <p>今一度、喫煙習慣を見直してニコッチとやり直しましょう！</p>
      </div>
    <div id="closeModal" class="closeModal">
      <%= link_to '×', reborn_users_path %>
    </div>
  </div>
</section>

