<section id="modalBaldness" class="modalArea" style="display:none;" >
  <div id="modalBg" class="modalBg"></div>
  <div class="modalWrapper">
      <div class="modalContents">
        <h5 class='text-center'>髪の毛が抜け始めました</h5>
        <div class='text-center'>
          <%= image_tag 'sick_panic_man.png', :size =>"180x220" %>
        </div>
        <p>過度な喫煙をすると、頭皮の血液循環が悪くなり育つはずの毛が育たなかったり、抜け落ちたりしてしまします。結果としてニコッチはハゲました。</p>
      </div>
    <div id="closeModal" class="closeModal">
      ×
    </div>
  </div>
</section>