<section id="modalCancer" class="modalArea">
  <div id="modalBg" class="modalBg"></div>
  <div class="modalWrapper">
      <div class="modalContents">
        <h5 class='text-center'>深刻な病気になりました</h5>
        <div class='text-center'>
          <%= image_tag 'cancer_man.png', :size =>"160x200" %>
        </div>
        <p>ニコッチは肺がんを患いました。</p>
        <p>タバコの煙には発がん性の物質を含んでいると言われています。</p>
        <p>1日の目標本数よりあと２本多く喫煙するとニコッチの病気が悪化します。</p>
        <p>今一度喫煙習慣を見直しましょう。</p>
      </div>
    <div id="closeModal" class="closeModal">
      ×
    </div>
  </div>
</section>