
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">メニュー</h5>
    <hr>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <% if logged_in? %>
      <div class="my-3">
        <%= link_to "ユーザー編集", edit_user_path(current_user.id), class: 'btn btn-sm header-button mx-1' %>
      </div>
      <div class="my-3" >
        <%= link_to "ログアウト", :logout, method: :post, class: 'btn btn-sm header-button mx-1' %>
      </div>
    <% else %>
        <%= link_to "ユーザー登録", new_user_path, class: 'btn btn-sm header-button mx-1' %>
        <%= link_to "ログイン", :login, class: 'btn btn-sm header-button mx-1' %>
    <% end %>
  </div>
</div>