@import "~bootstrap/scss/bootstrap";
@import "stylesheets/header.scss";
@import "stylesheets/index.scss";
@import "stylesheets/button.scss";
@import "stylesheets/login.scss";
@import "stylesheets/nicotti_position.scss";
@import "stylesheets/modal.scss";
@import "stylesheets/calender.scss";
@import "stylesheets/static_pages.scss";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import "toastr";