.header-button{
  padding: 0.3em 1em;
  border: solid 2px #36D2A4;
  border-radius: 32px;
  color: #36D2A4;
  background-color: #FFFFFF;
  transition: 0.3s;
  font-weight: 600;
}

.header-button:hover {
  background-color: #36D2A4;
  border: solid 2px #FFFFFF;
  color: #FFFFFF;
}

.login-button {
  padding: 0.3em 1em;
  border: solid 2px #FFFFFF;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #36D2A4;
  transition: 0.3s;
  font-weight: 600;
}

.login-button:hover {
  background-color: #FFFFFF;
  border: solid 2px #36D2A4;
  color: #36D2A4;
}

.btn-ippuku {
  padding: 0.3em 1em;
  border: solid 2px #11b684;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #36D2A4;
  transition: 0.3s;
  font-weight: 600;
  text-align: center;
}

.btn-ippuku:hover {
  background-color: #FFFFFF;
  border: solid 2px #36D2A4;
  color: #36D2A4;
}

.btn-outline-success {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #41b17d;
  border-color: #41b17d;
}