.bg-main {
  background-color: #36D2A4 !important;
}

.offcanvas {
  background-color: #36D2A4
}

.list-group {
  background-color: #36D2A4
}

.offcanvas-end {
  width: 160px;
}

.sidebar-toggle {
  border: #FFFFFF;
}
