
.bg-top {
  width: 100%;
  height: 100%;
  background-image: url(/assets/matinami.jpeg);
  background-size: cover;
}

.main-page {
  background-color: #f9fbfe;
  border: solid 3px #36D2A4;
  border-radius: 10px;
  max-width: 400px;
  height: 280px;
}

.words {
  background-color: #FFF7cb;
  border: solid 3px #FFE8AE;
  border-radius: 10px;
  width: 100%;
  font-size: 14px;
  padding: 6px 6px 1px 6px;
  max-width: 500px;
}

.right-page{
  position: relative;
}

.swiper-wrapper {
  border-radius: 5px;
    width: 100%;
    border: 5px solid #36D2A4;
    position: relative;
    z-index: 1;
    margin: 1px;
    max-width: 500px;
}

.nicotti-position {
  position: absolute;
  z-index: 20;
  margin-left: 35%;
  margin-top: 65px;
}

.nicotti-status {
  position: absolute;
  display: inline-block;
  z-index: 20;
  margin-top: 16px;
  margin-left: 14px;
  background-color: #c4c4c4;
  border-radius: 30px;
  opacity: 0.7;
  padding: 2px 10px;
}

.nicotti-life {
  position: absolute;
  display: inline-block;
  z-index: 20;
  margin-top: 16px;
  margin-left: 68%;
  background-color: #c4c4c4;
  border-radius: 30px;
  opacity: 0.7;
  padding: 2px 10px;
}

.status-text {
  font-size: 14px;
}

.page-whole{
  background-color: #f9fbfe;
  border: solid 3px #36D2A4;
  border-radius: 10px;
  padding: 10px 20px;
  max-width: 800px;
}

div.customizable{
  border: 5px solid #36D2A4 !important;
  border-radius: 10px !important;
}
