
.bg-top {
  background-color: #FFFFFF;
}

.main-page {
  background-color: #f9fbfe;
  border: solid 3px #36D2A4;
  border-radius: 10px;
  max-width: 400px;
  height: 280px;
}

.words {
  background-color: #f9fbfe;
  border: solid 3px #575555;
  border-radius: 10px;
  max-width: 400px;
}