.modalArea {
  display: none;
  position: fixed;
  z-index: 101; /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.5);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 60%;
  transform:translate(-50%,-50%);
  max-width: 700px;
  padding: 30px;
  background-color: #fff;
  border: 4px solid #36D2A4;
  border-radius: 20px;
  height : 50%; //お好みの高さで固定
  overflow : auto; //状況に応じて縦スクロールバーが出現
}

.modalWrapper2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 70%;
  transform:translate(-50%,-50%);
  max-width: 700px;
  padding: 30px;
  background-color: #ffffff00;
  border-radius: 5px;
  overflow : auto; //状況に応じて縦スクロールバーが出現
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
  font-size: 30px;
  color: #36d2a4;
}

.modal-status {
  background-color: rgb(0 0 0 / 8%);
  border-radius: 5px;
  padding: 3px;
}

.accent {
  color: red;
}

.modal-dis {
  border: 1px solid #3788d8;
  border-radius: 3px;
  padding: 10px;
  font-size: 13px;
}

.modal-button{
  padding: 0.5em 1em;
  border: solid 2px #ffc107;
  border-radius: 5px;
  color: #FFF;
  background-color: #ffc107;
  transition: 0.3s;
  font-weight: 600;
  width: 90px;
  box-shadow: 2px 2px 4px gray;
}

.modal-button1{
  padding: 0.5em 1em;
  border: solid 2px #ffc107;
  border-radius: 5px;
  color: #FFF;
  background-color: #ffc107;
  transition: 0.3s;
  font-weight: 600;
  width: 180px;
  box-shadow: 2px 2px 4px gray;
}

.modal-button:hover {
  background-color: #FFF;
  border: solid 2px #ffc107;
  color: #ffc107;
  box-shadow: 0px;
}

.modal-button1:hover {
  background-color: #FFF;
  border: solid 2px #ffc107;
  color: #ffc107;
  box-shadow: 0px;
}