.nicotti-position {
  position: absolute;
  z-index: 20;
  margin-left: 30%;
  margin-top: 107px;
}

.nicotti-position-1 {
  position: absolute;
  z-index: 20;
  margin-left: 26%;
  margin-top: 120px;
}

.nicotti-position-2 {
  position: absolute;
  z-index: 20;
  margin-left: 25%;
  margin-top: 54px;
}