.nicotti-position {
  position: absolute;
  z-index: 20;
  margin-left: 35%;
  margin-top: 65px;
}

.nicotti-position-1 {
  position: absolute;
  z-index: 20;
  margin-left: 30%;
  margin-top: 65px;
}

.nicotti-position-2 {
  position: absolute;
  z-index: 20;
  margin-left: 30%;
  margin-top: 82px;
}