.top1 {
  padding: 9rem 1.5rem;
  min-height: 600px;
  background-color: #e2fff7;
}
.top2{
  background-color: #e2fff7;
}

.top-end {
  height: 600px;
}

.top-end-container {
  height: 100%;
}

.col-img {
 height: 200px;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}

.features {
  background-color: white;
  border-radius: 50px;
  padding: 25px;
  min-height: 100%;
}

.features2 {
  background-color: #d5fff2;
  border-radius: 50px;
  padding: 25px;
  min-height: 100%;
}

.card {
  min-height: 100%;
}

@media (min-width: 1400px){
.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
  max-width: 1140px;
}
}