<div class="text-center">
  <%= link_to smokings_path(current_user), id: 'js-smoking-buttom', method: :post, data: {confirm: '喫煙を登録しますか？'}, remote: true do%>
    <buttom class='btn btn-ippuku btn-lg mx-auto'>一服する</buttom>
  <% end %>
</div>